@import './skeleton.css'
@import './animations.styl'
$gutter = 8px
$mobile = 400px
$tablet = 750px
$desktop = 100px

.page
  margin 2*$gutter 0 6*$gutter

.header
    .logo
      font-family: 'Megrim', cursive;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 8px;
      text-transform: none;
      display block

    a
      padding 10px
      padding-right "calc(%s - .2rem)" % 10px // extra padding on edge of text
      text-decoration none
      text-transform uppercase
      font-size 12px
      font-weight 500
      letter-spacing .2rem
      line-height 12px
      text-decoration none
      color #222
      border: 1px solid transparent
      display block
      text-align center
      margin-bottom $gutter
      &:hover
          color lighten(#222, 30)
      &.active
        border-width: 1px;
        border-image: linear-gradient(to bottom right, #499bea 0%, #3bb3d2 29%, #37bacb 38%, #21e1a4 86%, #20e3a2 88%)
        border-style: solid;
        border-image-slice: 1;


    .links
        border-bottom: 1px solid #E1E1E1;
        padding 4*$gutter 0 3*$gutter
        display flex
        flex-direction column

    @media (min-width: $mobile)
        .links
            flex-direction row
            a
              margin-right 3*$gutter
              &:last-child
                margin-right 0


.controls
  position fixed
  bottom 0
  right 0
  left 0
  display flex
  background white
  border-top: 1px solid #E1E1E1;
  align-items: center;
  animation-name slide-up
  animation-fill-mode both
  animation-duration .5s
  z-index 10

  .title
    color: lighten(#222, 30)

  .fa
    padding 2*$gutter
    cursor pointer
    transition color .2s
    font-size 2rem
    &:hover
        color lighten(#222, 30)

.pagination
    margin-top $gutter
    display flex
    list-style none
    justify-content: center;
    .active
      font-weight: bold
      text-decoration: underline;
    li > a
      cursor pointer
      display block
      padding $gutter 2*$gutter
      color: #222


.track
  display flex
  border-bottom: 1px solid #E1E1E1;
  height 16*$gutter
  padding $gutter
  align-items center
  animation-name fade-in
  animation-fill-mode both
  animation-duration .5s

  .right
    display block
    margin-left auto

  .fa
    cursor pointer
    transition color .2s
    &:hover
        color lighten(#222, 30)

    &.active
        color: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(59,179,210,1) 29%, rgba(55,186,203,1) 38%, rgba(33,225,164,1) 86%, rgba(32,227,162,1) 88%);


  .username
    font-weight 500
  .title
    color lighten(#222, 30)


  .avatar
    margin-right 2*$gutter
    line-height 0
    img
      height 6*$gutter
      width 6*$gutter
      border-radius 4px
