@import './skeleton.css'
@import './animations.styl'
$gutter = 8px
$mobile = 400px
$tablet = 750px
$desktop = 100px

.page
  margin 2*$gutter 0 7*$gutter

.header
    .logo
      font-family: 'Megrim', cursive;
      font-size: 17px;
      font-weight: bold;
      letter-spacing: .5rem;
      text-transform: none;
      border: 1px solid;
      padding: 5px 6px 6px 9px;

    a
        text-decoration none
        text-transform uppercase
        font-size 12px
        font-weight 500
        letter-spacing .2rem
        text-decoration none
        line-height 4.5rem
        color #222
        display block
        text-align center
        &:hover
            color lighten(#222, 30)
    .links
        border-bottom: 1px solid #E1E1E1;
        display flex
        flex-direction column

    @media (min-width: $mobile)
        .links
            flex-direction row
            a
                line-height 6.5rem
                margin-right 6*$gutter

.controls
  position fixed
  bottom 0
  right 0
  left 0
  display flex
  background white
  border-top: 1px solid #E1E1E1;
  align-items: center;
  animation-name slide-up
  animation-fill-mode both
  animation-duration .5s

  .fa
    padding 2*$gutter
    cursor pointer
    transition color .2s
    font-size 2rem
    &:hover
        color lighten(#222, 30)

.pagination
    display flex
    list-style none
    justify-content: center;
    .active
      font-weight: bold
      text-decoration: underline;
    li > a
      cursor pointer
      display block
      padding $gutter 2*$gutter
      color: #222


.track
  display flex
  border-bottom: 1px solid #E1E1E1;
  height 18*$gutter
  align-items center

  .right
    display block
    margin-left auto

  .fa
    cursor pointer
    transition color .2s
    &:hover
        color lighten(#222, 30)


  .username
    font-weight bold
  .title
    font-weight 200

  .avatar
    margin-right 2*$gutter
    line-height 0
    img
      height 6*$gutter
      width 6*$gutter
      border-radius 4px
